<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/create">Create</a></li>
    </ul>
    <div class="table-container">
      <div class="title">List User</div>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Actions</th>
        </tr>

        <% listUser.forEach(function(user) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.city %></td>
          <td>
            <button><a href="/edit/<%=user.id %>">Edit</a></button>
            <button>delete</button>
          </td>
        </tr>

        <% }); %>
      </table>
    </div>
  </body>
</html>
